matplotlib~=3.8.1
numpy~=1.26.2
pandas~=2.1.3
torch~=2.1.1
torchvision~=0.16.1
transformers~=4.35.2
Pillow~=10.0.1
datasets~=2.15.0
pytube~=15.0.0
moviepy~=1.0.3
Unidecode~=1.3.7
scikit-learn~=1.3.2
shapely~=2.0.2
dgl~=1.2a231116+cu121
torcheval~=0.0.7
torchmetrics~=1.2.0
tqdm~=4.66.1
python-doctr[torch]